.parent{
    -fx-background-color: #fff;

}
.sidebar{
    -fx-background-color: #333645;
}
.btns{
    -fx-background-color: transparent;
}
.btns:hover{
    -fx-background-color: #202332;
}
.box{
    -fx-border-color: #3B3F4B;
    -fx-border-width: 1px 0px 0px 0px;
}
.round-lbl{
    -fx-background-color: #01A05E;
    -fx-text-alignment:center;
    -fx-background-radius: 200%;
}
.card-01{
    -fx-background-color: rgba(0, 162, 211,0.3);
}
.card-02{
    -fx-background-color: rgba(69, 183, 175,0.3);
}
.card-02{
    -fx-background-color: rgba(255, 198, 108,0.3);
}
.round-box{
    -fx-background-radius: 100%;
    -fx-border-radius: 100%;
    -fx-border-width: 5px;
}
.help_tab{
    -fx-background-color:#00a2c3;
}

.button {
    -fx-background-color: #039be5;
    -fx-button-type: raised;
    -fx-text-fill: #ffffff;
    -fx-padding : 10 20 10 20 ;
}

.tree-table-view{
    -fx-tree-table-color: #4a148c;
    -fx-tree-table-rippler-color : rgba(255, 0, 0, 0.9);
}
.tree-table-view:focused .tree-table-row-cell:selected {
    -fx-background-color: -fx-tree-table-color  ;
    -fx-table-cell-border-color: -fx-tree-table-color;
}

.tree-table-view:focused .tree-table-row-cell:selected .tree-table-cell{
    -fx-text-fill: white;
}

.tree-table-view .jfx-rippler {
    -fx-rippler-fill: -fx-tree-table-rippler-color;
}

.tree-table-view .column-header ,
.tree-table-view .column-header-background,
.tree-table-view .column-header-background .filler{
    -fx-background-color:TRANSPARENT;
}

.tree-table-view .column-header{
    -fx-border-width : 0 1 0 1;
    -fx-border-color: #F3F3F3;
}

.tree-table-view .column-header .label {
    -fx-text-fill : #949494;
    -fx-padding : 16 0 16 0 ;
}

.tree-table-view .column-header .arrow, .tree-table-view .column-header .sort-order-dot{
    -fx-background-color : #949494;
}

.tree-table-view .column-header:last-visible {
    -fx-border-width: 0 2 0 0;
}

.tree-table-view .table-column{
    -fx-alignment: CENTER;
}

.tree-table-view .column-header-background{
    -fx-border-width : 0 0.0 1 0;
    -fx-background-color:#F3F3F3;
}

.tree-table-view .tree-table-cell{
    -fx-border-width:0 0 0 0;
    -fx-padding : 20 0 16 0 ;
}

.tree-table-view .column-overlay{
    -fx-background-color: -fx-tree-table-color;
}

.tree-table-view .column-resize-line, .tree-table-view .column-drag-header{
    -fx-background-color: -fx-tree-table-rippler-color;
}

.tree-table-view:focused {
    -fx-background-color: -fx-tree-table-color,-fx-box-border,-fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    /*....*/
    -fx-padding: 1; /* 0.083333em; */
}

.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}
.tree-table-row-cell .jfx-text-field{
    -fx-focus-color: rgba(240,40,40);
}